/*Pagina cv*/

.img-cv {
    width: 240px;
    height: 340px;
    margin: 0 4rem;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    cursor: pointer;
}

.box-content-cv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.box-cv {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.btn-cv {
    background-color: #ffbd59;
    color: #545454;
    height: 40px;
    width: 150px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #545454;
    transition: border-color 0.3s, box-shadow 0.3s, transform 1s ease;
    margin: 2rem auto;
    animation: zoomInfinito 5s infinite;
}

.btn-cv:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 8px #ffbd59;
}

@keyframes zoomInfinito {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/*RESPONSIVE*/
@media screen and (min-width: 768px) and (max-width: 996px) {
    .box-content-cv {
        display: flex;
        flex-direction: row;
        min-height: 50vh;
    }

    .btn-cv {
        margin: 1rem auto;
    }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
    .box-content-cv {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        padding-top: 0rem;
    }

    .btn-cv {
        margin: 1rem auto;
    }
}
