/*Header*/

.box-perfil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 3rem 8rem 3rem;
}
.names-perfil {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.names-perfil h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 180px;
    font-weight: 500;
    color: #ffbd59;
    text-shadow: 0px 0px 4px #ffbd59;
    margin: 0rem auto;
    width: 40rem;
}

.title-name {
    height: 200px;
}
.title-last-name {
    line-height: 0.8;
    height: 125px;
}

.under-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 53px;
    font-weight: 400;
    letter-spacing: 6px;
    text-align: center;
    color: #d486ea;
    margin-top: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    animation: step-end infinite;
}

.image {
    width: 350px;
    border-radius: 50%;
    box-shadow: 0 0 3px #545454;
}

.image-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*seccion general*/
.box-container {
    text-align: justify;
}

.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 0rem 5rem 0 5rem;
}

.title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #ffbd59;
    border-color: #d67eee;
    text-shadow: 0px 0px 10px #ff66c4;
    border-bottom: 1.5px dotted #ffbd59;
    margin-bottom: 2rem;
    text-align: start;
}

.text {
    font-size: 15px;
    font-weight: 200;
    color: #ffbd59;
    text-shadow: 0px 0px 8px #ffbd59;
    margin-bottom: 1rem;
}

.text-hobbies {
    width: 50%;
    font-size: 15px;
    font-weight: 200;
    color: #ffbd59;
    text-shadow: 0px 0px 8px #ffbd59;
    margin-bottom: 1rem;
}

/*seccion sobre mi*/
.box-about {
    border-radius: 30px;
    text-align: justify;
    margin: 5rem 1rem 1rem 1rem;
    padding: 5rem 3rem 0.5rem 3rem;
}

.mui-links {
    display: flex;
    position: fixed;
    flex-direction: column;
    left: 0;
    top: 200px;
    padding-left: 40px;
}

.mui-links a {
    margin-top: 3.5rem;
}

.btn-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    margin: 3rem 0 1rem 0;
    padding: 1rem;
}
@keyframes shadowPulse {
    0% {
        filter: drop-shadow(0 0 15px rgba(255, 189, 89, 0.8));
    }
    50% {
        filter: drop-shadow(0 0 80px rgba(255, 200, 0, 8));
    }
    100% {
        filter: drop-shadow(0 0 15px rgba(255, 189, 89, 0.8));
    }
}

.btn-links a > svg {
    animation: shadowPulse 2.5s infinite;
}

.section-btn-cv {
    background-color: #ffbd59;
    color: #545454;
    height: 40px;
    width: 120px;
    line-height: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
    box-shadow: 0 0 5px #ffbd59;
}
.section-btn-cv:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 20px #ffbd59;
}

/*seccion hobbies*/
.box-hobbies {
    border-radius: 30px;
    text-align: justify;
    margin: 0 6rem;
    padding: 3rem;
    text-align: justify;
}
.hobbies-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.carusel {
    width: 50%;
}

/*seccion skills*/
.box-stack {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
    margin: 5rem 1rem 1rem 1rem;
    padding: 5rem 3rem 0.5rem 3rem;
    text-align: justify;
}

.box-image-stack {
    text-align: center;
}
.stack-image {
    width: 100px;
    margin: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/*Animación shake*/
.stack-image:hover {
    transform: scale(1.05);
    animation: shake 0.5s infinite;
}
@keyframes shake {
    0%,
    100% {
        transform: rotate(0deg);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        transform: rotate(-2deg);
    }
    20%,
    40%,
    60%,
    80% {
        transform: rotate(2deg);
    }
}

/*seccion estudios*/
.box-studies {
    border-radius: 20px;
    padding: 5rem 3rem;
    text-align: justify;
    margin: 1rem;
}
.name {
    margin-top: 2rem;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #ffbd59;
    border-color: #d67eee;
    text-shadow: 0px 0px 10px #ffbd59;
}
.date {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: #ffbd59;
    text-shadow: 0px 0px 10px #ffbd59;
    margin-bottom: 0px;
}
.info {
    font-size: 14px;
    font-weight: 200;
    color: #ffbd59;
    text-shadow: 0px 0px 5px #ffbd59;
    margin-top: 1rem; 
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    box-shadow: 0px 0px 4px #ffbd59;
}
.info-2 {
    display: flex;
    flex-direction: column;
}

.btn-more {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-style: none;
    border-radius: 50px;
    border: 1.5px solid #ffbd59;
    background-color: transparent;
    color: #ffbd59;
    height: 25px;
    width: 130px;
    cursor: pointer;
    text-align: center;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.btn-more:hover {
    text-shadow: 0 0 10px #ff66c4;
    box-shadow: 0px 0px 5px #ffbd59;
}
.place-button-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

.place-button-container .date {
    display: flex;
    margin-right: 1rem;
    width: 100%
}
/*seccion certificados*/
.box-cert {
    border-radius: 30px;
    text-align: center;
    width: 100%;
    margin: 1rem;
    padding: 5rem 3rem;
}
.box-content-cert {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*seccion proyectos*/
.skeleton-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 5rem 3rem;
    border-radius: 20px;
    box-shadow: 0px 0px 4px #ffbd59;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 300px;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.box-projects {
    border-radius: 30px;
    text-align: justify;
    margin: 0 6rem;
    padding: 5rem;
    text-align: justify;
}

.content-projects {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
}
.contenedor-card {
    margin: auto;
    padding: 1rem;
    position: relative;
    display: inline-block;
    
}

.contenedor-card .box-content-projects {
    filter: opacity(0.8);
}

.contenedor-card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.contenedor-card .box a {
    margin-bottom: 10px;
}

.contenedor-card .box-btn {
    background-color: #ffbd59;
    color: #545454;
    height: 40px;
    width: 100px;
    line-height: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    border-radius: 50px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #545454;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
    margin: 5px;
    
}

.box-btn {
    margin-top: 1rem;
}
.box-btn:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 8px #ffbd59;
}
.btn-sites {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.project-name {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #ffbd59;
    border-color: #ffbd59;
    text-shadow: 0px 0px 10px #ff66c4;
    padding: 0px 10px;
    
}

.box-btn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.container-box-projects {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-gradient-overlay {
    position: relative;
}

.image-gradient-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(148, 95, 189), rgba(0, 0, 0, 0));
    z-index: 1;
    border-radius: 20px;
    border: 1.5px solid #ffbd59;
}

.box-content-projects {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    z-index: 0; 
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.box {
    position: relative;
    z-index: 2; 
    width: 350px; 
}

/*Loader de proyectos*/
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 200px;
}

.loading-info img {
    width: 100%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


/*Botón scroll top*/
.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffbd59;
    color: #545454;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    border-radius: 50%;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #545454;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

/*RESPONSIVE*/
@media screen and (min-width: 996px) and (max-width: 1080px) {
    /*seccion general*/
    .first-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 1rem;
    }

    /*seccion perfil*/
    .box-perfil {
        margin-top: 1rem;
    }
    .names-perfil {
        height: 300px;
    }
    .names-perfil h1 {
        font-size: 100px;
        text-align: start;
        width: 100%;
        padding: 2rem;
    }

    .title-name {
        height: 130px;
    }
    .title-last-name {
        line-height: 0.5;
        height: 90px;
    }
    .mui-links {
        margin: 1rem 0 0 1rem;
    }
    .mui-links a {
        margin-top: 2rem;
    }
    .under-title {
        font-size: 30px;
        letter-spacing: 3px;
        margin-top: 2rem;
    }

    /*seccion skills*/
    .stack-image {
        width: 80px;
    }
    /*seccion proyectos*/
    .box-projects {
        margin: 3rem;
    }
    .box-content-projects {
        width: 100%;
        box-sizing: content-box;
    }
}

@media screen and (min-width: 768px) and (max-width: 996px) {
    /*seccion general*/
    .first-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 0;
        margin: 0;
    }
    .title {
        text-align: center;
    }
    .mui-links {
        padding-left: 45px;
    }
    /*header*/
    .box-perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    .names-perfil h1 {
        font-size: 100px;
        text-align: start;
        width: 100%;
        padding: 2rem;
    }

    .title-name {
        height: 130px;
    }
    .title-last-name {
        line-height: 0.5;
        height: 90px;
    }
    .under-title {
        font-size: 30px;
        letter-spacing: 3px;
        margin-top: 2rem;
    }
    .image {
        width: 280px;
        margin-bottom: 2rem;
    }

    .btn-links {
        width: 100%;
        padding: 0rem;
    }

    /*seccion sobre mi*/
    .box-about {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion skills*/
    .box-stack {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion estudios*/
    .name {
        text-align: start;
    }
    .box-studies {
        margin: 1rem auto;
        width: 90%;
      
    }

    /*seccion hobbies*/
    .box-hobbies {
        margin: 0.5rem auto;
        width: 90%;
    }
    /*seccion certificados*/
    .box-cert {
        margin: 0rem auto;
        width: 90%;
        padding: 3rem 1rem;
    }
    .box-cert img {
        width: 90%;
        height: 100%;
    }

    /*seccion proyectos*/
    .skeleton-card{
        margin: 1rem auto;
        height: 380px;
        width: 380px;
    }
    .box-projects {
        margin: 1rem auto;
        width: 90%;
        padding: 3rem 1rem;
    }

    .content-projects {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box-content-projects {
        width: 100%;
        box-sizing: content-box;
    }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
    /*seccion general*/
    .first-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 0;
        margin: 0;
    }

    .title {
        text-align: center;
    }

    .mui-links {
        display: none;
    }

    /*header*/
    .box-perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1rem;
        margin: 1rem 0rem;
    }

    .names-perfil h1 {
        font-size: 75px;
        text-align: start;
        width: 100%;
        padding: 2rem 0;
    }

    .title-name {
        height: 110px;
    }
    .title-last-name {
        line-height: 0.3;
        height: 70px;
    }
    .under-title {
        font-size: 23px;
        letter-spacing: 2px;
        margin-top: 0.5rem;
    }
    .image {
        width: 280px;
        margin-bottom: 2rem;
    }

    .btn-links {
        width: 100%;
        padding: 0rem;
    }

    /*seccion sobre mi*/
    .box-about {
        margin: 1rem auto;
        width: 80%;
        padding: 3rem 1rem 0 1rem;
    }
    .section-btn-cv {
        background-color: #ffbd59;
        color: #545454;
        height: 35px;
        line-height: 5px;
        width: 105px;
        margin: 5px;
    }

    /*seccion skills*/
    .box-stack {
        margin: 1rem auto;
        width: 90%;
        padding: 3rem 1rem 0 1rem;
    }
    .stack-image {
        width: 80px;
    }

    /*seccion estudios*/
    .name {
        text-align: start;
    }
    .box-studies {
        margin: 1rem auto;
        width: 80%;
        padding: 3rem 1rem 0 1rem;
    }
    .btn-more {
        line-height: 24px;
    }

    /*seccion hobbies*/
    .box-hobbies {
        margin: 0.5rem auto;
        width: 80%;
        padding: 3rem 1rem;
    }

    .hobbies-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .carusel {
        width: 100%;
    }
    .text-hobbies {
        width: 100%;
        margin-top: 2rem;
    }

    /*seccion certificados*/
    .box-cert {
        margin: 0rem auto;
        width: 90%;
        padding: 3rem 1rem 0 1rem;
    }
    .box-cert img {
        width: 90%;
        height: 100%;
    }

    /*seccion proyectos*/
    .skeleton-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem auto;
        padding: 5rem 3rem;
        color: #545454;
        height: 275px;
        width: 275px;
        border-radius: 20px;
        box-shadow: 0px 0px 5px #545454;
        transition: border-color 0.3s, box-shadow 0.3s;
    }

    .box{
    width: 275px;
    }
    .box-projects {
        margin: 1rem auto;
        width: 90%;
        padding: 3rem 1rem 0 1rem;
    }

    .content-projects {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box-content-projects {
        width: 100%;
        box-sizing: content-box;
    }
    .contenedor-card .box-btn {
        height: 30px;
        line-height: 5px;
        width: 100px;
        margin: 5px;
    }
    .project-name {
        font-size: 1.5rem;
    }

    .btn-sites {
        display: flex;
        flex-direction: row;
    }
    .btn-sites-projects {
        width: 80%;
        text-align: center;
    }
}
