.name-pokemon {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #ffbd59;
    border-color: #d67eee;
    text-align: center;
    margin-top: 3rem;
    animation: pokemonbtn 3s ease-in infinite;

    @media (280px <= width <= 768px) {
        font-size: 25px;
    }
}

@keyframes pokemonbtn {
    0% {
        text-shadow: 0 0 10px rgba(241, 224, 109, 0.9);
    }
    50% {
        text-shadow: 0 0 30px rgba(241, 224, 109, 0.9);
    }
    100% {
        text-shadow: 0 0 10px rgba(241, 224, 109, 0.9);
    }
}

.title-pokemon {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #ffbd59;
    border-color: #d67eee;
    text-shadow: 0px 0px 10px #ff66c4;
    text-align: start;
    margin: 0;

    @media (280px <= width <= 768px) {
        font-size: 20px;
    }
}

.img-pokemon {
    width: 100%;
    animation: float 3s ease-in-out infinite;
    
    @media (280px <= width <= 768px) {
        width: 180px;
        margin-top: 1rem;
    }
}

.img-pokemon-container {
    position: relative;
    width: 300px;
    display: inline-block;

    @media (280px <= width <= 768px) {
        width: 100%;
    }

    @media (768px <= width <= 996px) {
        width: 380px;
        
    }
}

.img-pokemon-container::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 10px;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0));
    animation: shadow-float 3s ease-in-out infinite;
    filter: blur(5px);
    margin: -2rem 0rem;
    z-index: -1;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes shadow-float {
    0%,
    100% {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-50%) scale(0.8);
    }
}

.pokemon-items {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}

.box-pokemon {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    @media (280px <= width <= 768px) {
        padding: 4rem 0;
    }

    @media (768px <= width <= 996px) {
        padding: 4rem 0;
    }
}

.btn-pokemon {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-style: none;
    border-radius: 50px;
    background-color: #ffbd59;
    color: #545454;
    height: 30px;
    width: 80px;
    margin-top: 1rem;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;

    @media (280px <= width <= 768px) {
        font-size: 15px;
        height: 25px;
        width: 70px;
        margin: 0.5rem 0rem;
        line-height: 26px;
    }
}

.btn-pokemon:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 8px #ffbd59;
}

