@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");
:root {
    font-family: "Montserrat", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background: #5170ff;
    background: -webkit-linear-gradient(to top, #ff66c4 #cb6ce6 #5170ff);
    background: linear-gradient(to top, #ff66c4, #cb6ce6, #5170ff);
    font-size: 15px;
    color: #545454;
    min-height: 100vh;
}
