/*header*/
.box-perfil {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem 0;
}
.names-perfil {
    display: flex;
    flex-direction: column;
}

.names-perfil h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 180px;
    font-weight: 500;
    color: #ffbd59;
    text-shadow: 0px 0px 6px #ffbd59;
    margin: 0rem auto;
    width: 40rem;
}

.title-name {
    height: 190px;
}
.title-last-name {
    border-right: 0.8rem solid #ffbd59;
    line-height: 0.9;
    height: 136px;
}

.title-last-name {
    animation: 1.5s forwards, blink-caret 0.75s step-end infinite 0.5s;
}

@keyframes blink-caret {
    from,
    to {
        border-color: transparent;
    }
    50% {
        border-color: #ffbd59;
    }
}
.under-title {
    letter-spacing: 5px;
    font-size: 32px;
    text-align: center;
    color: #b574c7;
    text-shadow: 1px 2px 2px #545454;
    margin-top: 2rem;
}

.image {
    width: 380px;
    border-radius: 50%;
    border: 1.5px solid #545454;
    box-shadow: 0 0 20px #545454;
}

.image-perfil {
    display: flex;
    align-items: center;
}

/*seccion general*/
.box-container {
    text-align: justify;
}

.first-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 10rem 5rem 0 5rem;
}

.title {
    font-weight: 100;
    font-size: 30px;
    color: #fd81ce;
    text-shadow: 0px 0px 8px #ff66c4;
    letter-spacing: 5px;
    margin-bottom: 2rem;
    text-align: justify;
}

.text {
    font-size: 15px;
    font-weight: 400;
    color: #ffbd59;
    text-shadow: 0px 0px 8px #ffbd59;
    margin-bottom: 1rem;
}

/*seccion sobre mi*/
.box-about {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    text-align: justify;
    width: 100%;
    margin: 1rem;
    padding: 3rem;
}

.btn-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 100%;
    margin: 3rem 0 1rem 0;
    padding: 1rem 3rem;
    border-radius: 20px;
    border: 1px solid #ff66c4;
    box-shadow: 0px 0px 30px #fd81ce;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.btn-links:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 8px #ffbd59;
}

.section-btn-cv {
    background-color: #ffbd59;
    color: #545454;
    height: 40px;
    width: 100px;
    line-height: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #545454;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
}
.section-btn-cv:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 8px #ffbd59;
}

/*seccion hobbies*/
.box-hobbies {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    margin: 1rem;
    padding: 3rem;
    text-align: justify;
}

/*seccion stack*/
.box-stack {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    width: 100%;
    margin: 1rem;
    padding: 3rem;
    text-align: justify;
}

.stack-image {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.stack-image:hover {
    transform: scale(1.05);
}

/*seccion estudios*/
.box-studies {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 3rem;
    text-align: justify;
    margin: 1rem;
}
.name {
    font-size: 15px;
    font-weight: 800;
    color: #ffbd59;
    text-shadow: 0px 0px 8px #ffbd59;
    margin-top: 2rem;
}
.date {
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    color: #ffbd59;
    margin-bottom: 0;
}
.info {
    font-size: 15px;
    font-weight: 400;
    color: #545454;
    text-shadow: 0px 0px 8px rgb(92, 92, 92);
    margin-top: 1rem;
}
.info-2 {
    display: flex;
}

.btn-more {
    font-size: 13px;
    font-weight: 400;
    background-color: transparent;
    border-style: none;
    color: #545454;
    text-decoration: underline;
}

.btn-more:hover {
    color: #fd81ce;
    text-shadow: 0 0 10px #ff66c4;
    text-decoration: underline;
}

/*seccion certificados*/
.box-cert {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    text-align: center;
    width: 100%;
    margin: 1rem;
    padding: 3rem;
}
.box-content-cert {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*seccion proyectos*/
.box-projects {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    text-align: justify;
    margin: 0 6rem;
    padding: 3rem;
}

.content-projects {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.contenedor-card {
    margin: auto;
    padding: 1rem;
    position: relative;
    display: inline-block;
}

.contenedor-card:hover .box-content-projects {
    filter: brightness(20%);
}
.contenedor-card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contenedor-card .box a {
    margin-bottom: 10px;
}

.contenedor-card .box-btn {
    background-color: #ffbd59;
    color: #545454;
    height: 40px;
    width: 100px;
    line-height: 40px;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    box-shadow: 0px 0px 5px #545454;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
    margin: 5px;
}

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.box-content-projects {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border: 1px solid var(--color-tercero);
}

.box-btn {
    margin-top: 1rem;
}
.box-btn:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 8px #ffbd59;
}
.btn-sites {
    display: flex;
    flex-direction: row;
    margin: auto;
}
.proyect-name {
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    color: #ffbd59;
    border-color: #d67eee;
    text-shadow: 0px 0px 10px #ff66c4;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: #ffbd59;
    letter-spacing: 1px;
    margin-top: 3rem;
}

/*RESPONSIVE*/
@media screen and (min-width: 996px) and (max-width: 1080px) {
    /*seccion general*/
    .first-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px;
        padding: 1rem;
    }
    /*seccion perfil*/
    .box-perfil {
        margin-top: 1rem;
    }

    .names-perfil h1 {
        font-size: 100px;
        text-align: start;
        width: 100%;
        padding: 2rem;
    }

    .title-name {
        height: 130px;
    }
    .title-last-name {
        border-right: 0.5rem solid #ffbd59;
        line-height: 0.5;
        height: 90px;
    }
    .under-title {
        font-size: 16px;
        letter-spacing: 4px;
        margin-top: 1rem;
    }

    /*seccion proyectos*/
    .box-projects {
        margin: 3rem;
    }
    .box-content-projects {
        width: 350px;
        height: 190px;
        box-sizing: content-box;
    }
}

@media screen and (min-width: 768px) and (max-width: 996px) {
    /*seccion general*/
    .first-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 0;
        margin: 0;
    }
    .title {
        text-align: center;
    }

    /*header*/
    .box-perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    .names-perfil h1 {
        font-size: 85px;
        text-align: start;
        width: 100%;
        padding: 2rem;
    }

    .title-name {
        height: 110px;
    }
    .title-last-name {
        border-right: 0.5rem solid #ffbd59;
        line-height: 0.5;
        height: 90px;
    }
    .under-title {
        font-size: 14px;
        letter-spacing: 4px;
        margin-top: 1rem;
    }
    .image {
        width: 280px;
        margin-bottom: 2rem;
    }

    .btn-links {
        width: 100%;
        padding: 1rem;
    }

    /*seccion sobre mi*/
    .box-about {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion stack*/
    .box-stack {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion estudios*/
    .name {
        text-align: start;
    }
    .box-studies {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion hobbies*/
    .box-hobbies {
        margin: 0.5rem auto;
        width: 90%;
    }
    /*seccion certificados*/
    .box-cert {
        margin: 0rem auto;
        width: 90%;
        padding: 3rem 1rem;
    }
    .box-cert img {
        width: 90%;
        height: 100%;
    }

    /*seccion proyectos*/
    .box-projects {
        margin: 1rem auto;
        width: 90%;
        padding: 3rem 1rem;
    }

    .content-projects {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box-content-projects {
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }
}

@media screen and (min-width: 280px) and (max-width: 768px) {
    /*seccion general*/
    .first-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        padding: 0;
        margin: 0;
    }

    .title {
        text-align: center;
    }

    /*header*/
    .box-perfil {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 1rem;
    }

    .names-perfil h1 {
        font-size: 85px;
        text-align: start;
        width: 100%;
        padding: 2rem;
    }

    .title-name {
        height: 110px;
    }
    .title-last-name {
        border-right: 0.5rem solid #ffbd59;
        line-height: 0.5;
        height: 90px;
    }
    .under-title {
        font-size: 14px;
        letter-spacing: 4px;
        margin-top: 1rem;
    }
    .image {
        width: 280px;
        margin-bottom: 2rem;
    }

    .btn-links {
        width: 100%;
        padding: 1rem;
    }

    /*seccion sobre mi*/
    .box-about {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion stack*/
    .box-stack {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion estudios*/
    .name {
        text-align: start;
    }
    .box-studies {
        margin: 1rem auto;
        width: 90%;
    }

    /*seccion hobbies*/
    .box-hobbies {
        margin: 0.5rem auto;
        width: 90%;
    }

    /*seccion certificados*/
    .box-cert {
        margin: 0rem auto;
        width: 90%;
        padding: 3rem 1rem;
    }
    .box-cert img {
        width: 90%;
        height: 100%;
    }

    /*seccion proyectos*/
    .box-projects {
        margin: 1rem auto;
        width: 90%;
        padding: 3rem 1rem;
    }

    .content-projects {
        display: grid;
        grid-template-columns: 1fr;
    }

    .box-content-projects {
        width: 100%;
        height: 170px;
        box-sizing: content-box;
    }
    .contenedor-card .box-btn {
        height: 35px;
        width: 70px;
        margin: 5px;
    }
    .btn-sites {
        display: flex;
        flex-direction: row;
    }
}
