.img-pokemon {
    width: 300px;
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

.pokemon-items {
    display: flex;
    flex-direction: column;
    align-items: end;
    position: relative;
}

.box-pokemon {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.btn-pokemon {
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-style: none;
    border-radius: 50px;
    background-color: #ffbd59;
    color: #545454;
    height: 30px;
    width: 80px;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 5px #545454;
    transition: border-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

.btn-pokemon:hover {
    border-color: #ffbd59;
    box-shadow: 0px 0px 8px #ffbd59;
}
.name-pokemon {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #ffbd59;
    border-color: #d67eee;
    text-align: center;
    margin: 0;
    animation: pokemonbtn 3s ease-in infinite;
}

@keyframes pokemonbtn {
    0% {
        text-shadow: 0 0 10px rgba(83, 83, 83, 0.9);
    }
    50% {
        text-shadow: 0 0 90px rgba(83, 83, 83, 0.87);
    }
    100% {
        text-shadow: 0 0 10px rgba(83, 83, 83, 0.99);
    }
}

.title-pokemon {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #ffbd59;
    border-color: #d67eee;
    text-shadow: 0px 0px 10px #ff66c4;
    text-align: start;
    margin: 0;
}

/*RESPONSIVE*/
@media screen and (min-width: 768px) and (max-width: 996px) {
    .box-pokemon {
        width: 100%;
    }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
    .img-pokemon {
        width: 180px;
        margin-top: 1rem;
    }
    .box-pokemon {
        padding: 4rem 0;
    }
    .name-pokemon {
        font-size: 25px;
    }

    .title-pokemon {
        font-size: 20px;
    }
    .btn-pokemon {
        font-size: 15px;
        height: 25px;
        width: 70px;
        margin: 0.5rem 0rem;
        line-height: 26px;
    }
}
